#cta .text-box {
  padding: 100px 35px 0 0; }

#cta .contact__intro {
  background-image: url(../images/blue.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 560px; }
  #cta .contact__intro .intro {
    margin-top: 130px; }
    #cta .contact__intro .intro:before {
      content: "";
      display: block;
      width: 56px;
      background-color: #FFFFFF;
      height: 3px;
      position: relative;
      display: block;
      top: -10px;
      margin-bottom: 110px; }

#cta p {
  color: #ffffff;
  padding-top: 53px; }

#cta .contact__button__pic {
  background-image: url(../images/gray.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 560px; }
  #cta .contact__button__pic .btn.btn--primary {
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 240px;
    margin-left: 20%; }
