main
	section#products
		.grid 
			.row.row--no-gutter  
				.col.md-5-12.md-push-right-1-12
					.section-title
						h1 Bestselger
						p Computer Hardware Desktops And Notebooks And Handhelds Oh My 
						
				+product("assets/images/img(13).png", "Kaiteki 6000", "Download Free Song For Ipod")
				//.col.md-3-12
					a.products__item(href="#")
						.img-box
							img(src='assets/images/img(4).png', alt='kaiteki 6600 varmepumper')
						h3 Kaiteki 6600
						p Download Free Song For Ipod



				+product("assets/images/img(8).png", "Kaiteki test", "lorem")
				+product("assets/images/img(9).png", "Kaiteki test", "lorem ipsum lorem ipsum ")
				+product("assets/images/img(10).png", "Kaiteki test", "lorem")
				//+product('/assets/images/img(11).png',"Kaiteki test", "lorem")		

				.col.md-6-12
					a.products__item(href="product.html")
						.img-box
							img(src='assets/images/img(11).png', alt='kaiteki 6600 varmepumper')
							.overlay
						h3 Zen Designmodell Sort
						p Download Free Song For Ipod

				+product("assets/images/img(4).png", "Kaiteki 6600", "Computer Hardware Desktops And Notebooks And Handhelds Oh My")
				+product("assets/images/img(8).png", "Kaiteki 6300 Hairline", "Choosing The Best Audio Player Software For Your Computer")
				+product("assets/images/img(12).png","Kirigamine Furo 4300", "Choosing The Best Photo Printer ")
				+product("assets/images/img(6).png","Zen Designmodell Sort", "A Guide To Mri Scans")




		

				