section#contact-intro
	.grid
		.row.row--no-gutter  
			.col.md-3-12
				span Mandag – Fredag: 07:00 – 15:00
			.col.md-6-12
				h1 Kontakt oss
				.row.row--no-gutter 
					.contact-intro__content
						.col.md-6-12
							ul
								li Instant Bergen AS. 
								li Midtunlia 13 5224 NESTTUN
						.col.md-6-12
							ul
								li Tlf.: +47 55 11 09 00
								li E-post: bergen@instant.no
		.row.row--no-gutter
			.col.md-12-12
				.line


