section#contact-intro
	.grid
		.row.row--no-gutter  
			.col.md-3-12
				a(href='#')
					span Mandag – Fredag: 07:00 – 15:00
			.col.md-6-12
				h1 Kontakt oss
				.row.row--no-gutter 
					.contact-intro__content
						.col.md-6-12
							p Instant Bergen AS. 
							p Midtunlia 13 5224 NESTTUN
						.col.md-6-12
							p Tlf.: +47 55 11 09 00
							p E-post: bergen@instant.no
		.row.row--no-gutter
			.col.md-12-12
				.line


