section#contact-form
	.grid
		.row.row--no-gutter  
			.col.md-6-12.md-push-left-3-12
				h3 Feedback
		.row.row--no-gutter  
			.col.md-6-12.md-push-left-3-12
			
				form(method='POST', enctype='multipart/form-data')
				.row.row--no-gutter
					.col.md-6-12

						label(for='email')  First name
						input(type='text', name='email', placeholder='')

						label(for='email')  Email
						input(type='text', name='email', placeholder='')
						
					.col.md-6-12

						label(for='email')  Last name
						input(type='text', name='email', placeholder='')

						label(for='email')  Subject
						input(type='text', name='email', placeholder='')
				
				.row.row--no-gutter
					.col.md-12-12
						

						label(for='subject') Your message (Max 300 symbols)
						textarea(type="text" name='subject')
						
				.row.row--no-gutter
					.col.md-6-12

						input.btn.btn--primary(type='submit', value='Send message')
					
				.row.row--no-gutter
					.col.md-12-12
						.contact-form__additional
							p Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory compaq laptop battery compaq laptop battery charger compaq laptop computer 

			
			
			
			
			
			
			
			
			
			
//				form(method='POST', enctype='multipart/form-data')
//					.first_row
//						.contact-form__name.inline
//							label(for='first-name') First name
//							input(type='text', name='name', placeholder='')
//						.contact-form__surname.inline.right
//							label(for='last-name') Last name
//							input(type='text', name='surname', placeholder='')
//							
//					.second_row
//						.contact-form__email.inline
//
//							label(for='email') Email
//							input(type='email', name='email', placeholder='')
//						.contact-form__subject.inline.right
//							label(for='Subject') Subject
//							input(type='text', name='subject', placeholder='')
//					.message
//
//						label(for='Subject') Message (Max 300 symbols)
//						textarea( name='subject', placeholder='')
//
//					input.btn.btn--primary(type='submit', value='send message') 
					
					
					
					
