#popup-order-form h1 {
  margin-top: 40px; }

#popup-order-form h3 {
  margin-bottom: 40px; }

#popup-order-form p {
  color: #797979; }

#popup-order-form .btn--primary {
  margin: 40px 0 40px 0; }

#popup-order-form .order-form_close {
  float: right;
  color: #797979;
  font-size: 14px;
  padding: 15px 18px 15px 18px;
  border: 1px solid rgba(121, 121, 121, 0.4);
  border-radius: 50%;
  display: block;
  -webkit-transform: translatey(-10px);
  -ms-transform: translatey(-10px);
  transform: translatey(-10px); }

#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 999; }

#popup-order-form {
  display: none;
  background: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  position: fixed;
  top: 15%;
  left: 20%;
  right: 20%;
  z-index: 99999; }
