footer
	
	.grid
		.row.row--no-gutter 
			.col.md-12-12.col.sm-12-12
				.copyright.flex
					span Instant Norde AS

					nav
						ul.flex
							li
								a(href="#" target="_blank") Facebook  
							li 
								a(href="#" target="_blank") youtube

					a(href='#header')
						i.fas.fa-arrow-up

					.credits.flex
						span Made visible by 
						a(href='https://vsbl.lt/', target='_blank')
							img(src='assets/images/VSBL.png', alt='logo VSBL')




//- Scripts

script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(type="text/javascript" src="assets/js/min/script-min.js")
script(type="text/javascript" src="assets/js/script.js")
//- Accordion
script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js")
script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
//- Slick carousel
script(type='text/javascript' src='assets/slick/slick.min.js')


				
