header#header
	
	.grid
		.row.row--no-gutter 
			.header__content.flex
				a(href='index.html')
					img(src='assets/images/Bitmap.png', alt='logo varmepumper')
			
				nav 
					ul.flex
						li.categories
							a(href="category.html") Categories
							ul.dropdown
								li 
									a.first Toppmodell
										.content
											//p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 
											
										
								li
									a Bestselger
										.content
										
								li
									a Gulvmodell
									
								li
									a Kompaktmodell
									
								li
									a Designmodell
									
								li
									a Multimodell
						li 
							a(href="services.html") Contacts
			
				span
					|+47 55 11 09 00
	
				
				
					



		
				

