header#header
	
	.grid
		.row.row--no-gutter 
			.header__content.flex
				a(href='index.html')
					img(src='assets/images/Bitmap.png', alt='logo varmepumper')
			
				nav 
					ul.flex
						li.categories 
							a(href="category.html") Categories
							ul.dropdown
								li
									a(href="product.html") 
										span Toppmodell
									.dropdown_content
										h3 Information 1
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 		
										
								li
									a(href="product.html") 
										span Bestselger
									.dropdown_content
										h3 test info 2
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 		
										
								li
									a(href="product.html") 
										span Gulvmodell
									.dropdown_content
										h3 test info 3
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 	
									
									
								li
									a(href="product.html") 
										span Kompakt
									.dropdown_content
										h3 test info 4
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 
									
								li
									a(href="product.html") 
										span Designmodell
									.dropdown_content
										h3 test info 5
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 
									
								li
									a(href="product.html") 
										span Multimodell
									.dropdown_content
										h3 test info 6
										p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 
										
						li 
							a(href="contact.html") Contacts
			
				span.number
					|+47 55 11 09 00
	
				
				
					



		
				

