header#header
	
	.grid
		.row.row--no-gutter 
			.header__content.flex
				a(href='index.html')
					img(src='assets/images/Bitmap.png', alt='logo varmepumper')
			
				nav 
					ul.flex
						li
							a(href="category.html") Categories
							ul.dropdown
								li 
									a(href="#") 
										span Toppmodell
										.content
											//p LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. 		
										
								li
									a(href="#") 
										span Bestselger
										.content
										
								li
									a(href="#") 
										span Gulvmodell
									
								li
									a(href="#") 
										span Kompaktmodell
									
								li
									a(href="#") 
										span Designmodell
									
								li
									a(href="#") 
										span Multimodell
						li 
							a(href="#") Contacts
			
				span.number
					|+47 55 11 09 00
	
				
				
					



		
				

