section#cta
	.grid
		.row.row--no-gutter  
			.col.md-9-12
				.cta__intro
					.grid
						.row
							.col.md-4-12
								.intro_container
									span
									.intro
										h4.h4--primary How To Protect Your Computer 
										p Very Useful Tips
							.col.md-8-12
								.text-box
									h2.h2--primary Hvad kan man spare med en varmepumpe?
									p En varmepumpe kan spare dig for 50% til 70% på din varmeregning, og hvis du anvender el til opvarmning i hjemmet, så kan du spare helt op til 80%. Dette afhænger af hvilken type varmepumpe du vælger. Uanset hvilken varmepumpe du vælger at købe hos Scanheat, så sikrer vi dig, at du får en varmepumpe i høj kvalitet. Vi leverer hotline service samt serviceydelser på alle vores varmepumper, uanset mærke.

			.col.md-3-12
				.cta__button__pic
					
					a.btn.btn--primary(href='contact.html') contact us
