section#productIntro
	.grid
		.row.row--no-gutter  
			.col.md-3-12
				a(href='#')
					span Back to Bestselger
			.col.md-6-12
				h1 Zen Designmodell Sort
				p ZEN combines elegance, design and the latest in technology - fits perfectly into your home and is designed for Nordic conditions.
			.col.md-3-12
				a.btn.btn--primary(href='#') make order
				