//section#gallery
	.gallery__slider
		.slider__item
			.grid
				.row
					.col.md-10-12.md-push-left-1-12
						.img-box
							img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')
							
		.slider__item
			.grid
				.row
					.col.md-10-12.md-push-left-1-12
						.img-box
							img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')



	.gallery__slider__controls
		.grid
			.row.row--no-gutter
				.col.md-3-12
					.img-box
						img(src='assets/images/product_sliders/slider_photo2.png', alt='kaiteki 6600')
				.col.md-3-12
					.img-box
						img(src='assets/images/product_sliders/slider_photo3.png', alt='kaiteki 6600')
				.col.md-3-12
					.img-box
						img(src='assets/images/product_sliders/slider_photo4.png', alt='kaiteki 6600')
.grid
	.row
		.col.md-10-12.md-push-left-1-12
			.gallery__slider
				.img-box
					img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

				.img-box
					img(src='assets/images/product_sliders/slider_photo3.png', alt='kaiteki 6600')

				.img-box
					img(src='assets/images/product_sliders/slider_photo4.png', alt='kaiteki 6600')

				.img-box
				img(src='assets/images/product_sliders/slider_photo4.png', alt='kaiteki 6600')


		.col.md-4-12.md-push-left-4-12
			.gallery__slider__controls
				.img-box
					img(src='assets/images/product_sliders/slider_photo2.png', alt='kaiteki 6600')

				.img-box
					img(src='assets/images/product_sliders/slider_photo3.png', alt='kaiteki 6600')

				.img-box
					img(src='assets/images/product_sliders/slider_photo4.png', alt='kaiteki 6600')

				.img-box
				img(src='assets/images/product_sliders/slider_photo4.png', alt='kaiteki 6600')




					
					