section#popup-order-form
	.grid
		.row.row--no-gutter  
			.col.md-10-12.md-push-left-1-12
				h1 Order
				a.order-form_close(href="#") X
				h3 Zen Designmodell Sort

		.row.row--no-gutter  
			.col.md-10-12.md-push-left-1-12

				
				form(method='POST', enctype='multipart/form-data')
					.row.row--no-gutter
						.col.md-6-12

							label(for='email')  First name
							input(type='text', name='email', placeholder='')

							label(for='email')  Email
							input(type='text', name='email', placeholder='')

						.col.md-6-12

							label(for='email')  Last name
							input(type='text', name='email', placeholder='')

							label(for='email')  Phone
							input(type='text', name='email', placeholder='')



					.row.row--no-gutter
						.col.md-12-12
							.contact-form__additional
								p Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory compaq laptop battery compaq laptop battery charger compaq laptop computer 
					.row.row--no-gutter
						.col.md-6-12.md-push-left-4-12

							input.btn.btn--primary(type='submit', value='order')