section#product-gallery
	.grid
		.row
			.col.md-10-12.md-push-left-1-12
				.gallery__slider
					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')


			.col.md-4-12.md-push-left-4-12
				.gallery__slider__controls
					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')

					.img-box
						img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')




					
					