section#product-info
	.grid
		.row.row--no-gutter  
			.col.md-3-12
				ul
					li Nominell kapasitet: 4,0 kW
					li SCOP: 4,5
					li Lydnivå: 21dB(A)
					li Fabrikkgarantert drift ned til: -20 grader
					li Uketimer på fjernkontroll
			.col.md-6-12
			
				#product-info__more
					
					h3.uk-accordion-title Mer informasjon
						
					.info__more__content
						p Den leveres med supertynn innedel på kun 19,5cm – den er så tynn også når varmepumpen er i drift. Likevel har ZEN fabrikkgarantert driftsområde helt ned til -20°C og en COP på 4,19. 
						p 
							|Lydnivået på ZEN er på 21 dB(A) – noe som gjør at den knapt er hørbar i laveste viftemodus.  ZEN har egen Fan Mode – der kun viften går. Dette gjør den perfekt til å bruke sammen med peis eller ovn.

		.row.row--no-gutter
			.col.md-12-12
				.line
				
		.row.row--no-gutter
			.col.md-6-12.md-push-left-3-12
				#product-info__specs
						
					h3.uk-accordion-title Spesifikasjoner
	
						
					.info__more__content
						p Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
						p Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna						
						p Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
						
				



				






	