main
	section#product-gallery
		.grid
			.row
				.col.md-10-12.md-push-left-1-12
					.gallery__slider
						.gallery__slider__item
							.img-box
								img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')
						.gallery__slider__item
							.img-box
								img(src='assets/images/karusele1.png', alt='kaiteki 6600 varmepumper')

						.gallery__slider__item
							.img-box
								img(src='assets/images/categories.png', alt='kaiteki 6600 varmepumper')

						.gallery__slider__item
							.img-box
								img(src='assets/images/karusele1.png', alt='kaiteki 6600 varmepumper')


				.col.md-4-12.md-push-left-4-12
					.gallery__slider__controls
						.slider__controls__item
							.img-box
								img(src='assets/images/zen.big.png', alt='kaiteki 6600 varmepumper')
						.slider__controls__item
							.img-box
								img(src='assets/images/karusele1.png', alt='kaiteki 6600 varmepumper')
						.slider__controls__item
							.img-box
								img(src='assets/images/categories.png', alt='kaiteki 6600 varmepumper')
						.slider__controls__item
							.img-box
								img(src='assets/images/karusele1.png', alt='kaiteki 6600 varmepumper')
							

