section#product-info
	.grid
		.row.row--no-gutter  
			.col.md-3-12
				ul
					li Nominell kapasitet: 4,0 kW
					li SCOP: 4,5
					li Lydnivå: 21dB(A)
					li Fabrikkgarantert drift ned til: -20 grader
					li Uketimer på fjernkontroll
			.col.md-6-12
			
				#product-info__more
					
					h3 
						.info__more__headline Mer informasjon
						span.info__more__icon
						
						
					.info__more__content
						p Den leveres med supertynn innedel på kun 19,5cm – den er så tynn også når varmepumpen er i drift. Likevel har ZEN fabrikkgarantert driftsområde helt ned til -20°C og en COP på 4,19. 
						p Lydnivået på ZEN er på 21 dB(A) – noe som gjør at den knapt er hørbar i laveste viftemodus.  ZEN har egen Fan Mode – der kun viften går. Dette gjør den perfekt til å bruke sammen med peis eller ovn.

		.row.row--no-gutter
			.col.md-12-12
				.line
				
		.row.row--no-gutter
			.col.md-6-12.md-push-left-3-12
				#product-info__specs
						
					h3
						.info__more__headline Spesifikasjoner
						span.info__more__icon 
						
	
						
					.info__more__content

						table
							tbody
								tr
									td.heading Hoved data
									td 
									td 
								tr
									td Laveste lydnivå
									td 21 db (A)
									td 
								tr
									td Maks kapasitet ved +7 grader
									td 5,5 kW
									td 
								tr
									td SCOP
									td 4,5
									td 
								tr
									td.heading Modell data: ZEN 5,5 HVIT
									td 
									td 

								tr
									td Funksjon
									td Kjøling
									td Varme
								tr
									td Kapasitet (min-maks)kW
									td 1,4-4,0
									td 1,8-5,5
								tr
									td Kapasitet nominell ved +7 grader kW
									td 3,5
									td 4
									
								tr
									td Effektforbruk nominell kW
									td 0,91
									td 0,95
								tr
									td Energiklasse
									td A+++
									td A+
								tr
									td Fabrikkgarantert driftsområde
									td -20
									td -
								tr
									td.heading Utstyr
									td 
									td
									
								tr
									td Supertynn innedel	
									td &#x2713
								tr
									td Nano platina filter
									td &#x2713
								tr
									td Human sensor
									td &#x2713
								tr 
									td Indirekte luftstrøm (fjerne trekk-funksjon)
									td &#x2713


								tr
									td Dobbelt luftspjeld	
									td &#x2713
								tr
									td Anbefalt av NAAF
									td &#x2713
								tr
									td Hyper Heating	
									td &#x2713
								tr 
									td Viftemodus	
									td &#x2713

								tr
									td I-save funksjon (10 gr vedlikeholdsvarme)
									td &#x2713
								tr
									td Uketimer
									td &#x2713
								tr
									td I-see sensor
									td &#x2713
								tr 
									td Varmestav i bunnpanne	
									td &#x2713
								tr 
									td Spesialutviklet software for nordiske forhold 	
									td &#x2713
	
	
	 
	 
 
	 
 
	 



						
			



				






	