#contact-intro
	
	margin-top: 180px
	.line
		border: 1px solid #DEDEDE
		margin: 50px 0px 50px 0px

	span
		color: #797979
		
	.contact-intro__content
		ul
			font-family: $font-secondary
			font-size: 1.5em
			margin-top: 40px
			li
				list-style: none
				padding: 3px 0 3px 0