#product-info
	margin-top: 75px
	.line
		border: 1px solid #DEDEDE
		margin: 65px 0px 65px 0px
	ul
		color: #797979
		margin-top: 45px 
		li
			padding: 5px 0 5px 0
	
	h3.uk-accordion-title
		align-items: center
		position: relative
		
	
	
	#product-info__more
		//padding-bottom: 65px 
		//position: relative

	h3
		//background: yellow
		&:after
			content: ''
			clear: both
			display: table
	.info__more__headline
		float: left
		padding: 20px 0 

	span.info__more__icon
		margin: 10px
		display: block
		height: 48px
		width: 48px
		border: 1px solid #ccc
		float: right
		border-radius: 50%
		position: relative
		&:before, &:after
			content: ''
			position: absolute
			background-color: #ccc
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			transition: .2s ease
		
		&:before
			width: 17px
			height: 2px
		&:after
			width: 2px
			height: 17px
			
		&:hover
			cursor: pointer
			&:before, &:after
				background-color: red
			//&:before
				width: 8px
			//&:after
				height: 8px
			&:before
				visibility: hidden
			&:after
				position: absolute
				content: ""
				display: block
				right: 0
				width: 11px
				height: 11px
				background-color: white
				border-right: 2px solid red
				border-top: 2px solid red
				transform: rotate(135deg)
				transition: .2s ease
	
		.info__more__headline
			float: left
			padding: 20px 0px

	
	
	h3.ui-state-active 
		span.info__more__icon
			&:after
				visibility: hidden
			&:before
				visibility: visible
				transition: .2s ease
	.info__more__content
		padding-right: 50px
		p
			margin-top: 12px


	table
		width: 80%
		.heading
			font-weight: $bold


