doctype html
html(lang="lt")
	//- HEAD
	include includes/global/global_head
	include includes/mixins
	//- BODY
	body

		//- Page container
		#page-container

			//- Header
			include includes/global/global_header
			//- contact-intro
			include includes/structure/contact/contact-intro
			
			include includes/structure/contact/contact-form
	

			//- Footer
			include includes/global/global_footer
			
			
			
			
			
			
