main
	section#categories
		.grid
			.row.row--no-gutter  
				.col.md-9-12
					row
						.col.md-4-12
							a(href='index.html')
								.categories__item
									.number 01
									h3 Toppmodell
									p Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication


						+category("#", "02", "Bestselger", "3 Simple Ways To Save A Bunch Of Money When Buying A New Computer")

						+category("#", "03", "Gulvmodell", "Unmatched Toner Cartridge Quality 20 Less Than Oem Pricer")
						+category("index.html", "04", "Kompaktmodell", "Unmatched Toner Cartridge Quality 20 Less Than Oem Pricer")
						+category("index.html", "05", "Designmodell", "Unmatched Toner Cartridge Quality 20 Less Than Oem Pricer")
						+category("index.html", "06", "Multimodell", "Unmatched Toner Cartridge Quality 20 Less Than Oem Pricer")


				.col.md-3-12
					.img-box
						img(src='assets/images/categories.png', alt='varmepumper bedroom')