section#intro
	.intro__slider
		.slider__item
			.grid
				.row
					.col.md-6-12
						.item__info
							p Kaiteki 6300
							h1 Produce heat for your house, no matter how cold it is

					.col.md-5-12.col.md-push-left-1-12
						.img-box.img-box--full
							img(src='assets/images/karusele1.png', alt='varmepumper')
		.slider__item
			.grid
				.row
					.col.md-6-12
						.item__info
							p Kaiteki 7300
							h1 Lorem ipsum no matter how cold it is

					.col.md-5-12.col.md-push-left-1-12
						.img-box.img-box--full
							img(src='assets/images/karusele1.png', alt='varmepumper')
		.slider__item
			.grid
				.row
					.col.md-6-12
						.item__info
							p Kaiteki 8300
							h1 Lorem ipsum

					.col.md-5-12.col.md-push-left-1-12
						.img-box.img-box--full
							img(src='assets/images/karusele1.png', alt='varmepumper')


	.intro__slider__controls
		.grid
			.row.row--no-gutter
				.col.md-5-12.col.sm-12-12.flex
					.arrows.flex
						.prev-slide 
							i.fas.fa-play
							
						span 01/04
						.next-slide 
							i.fas.fa-play

					a.slider__more_info

						p More info
						span Specifications and Features 